## IS 362 Week 8: Data Set
### By Billy Cole

#### Our project this week is to import a data set called Auto MPG and do some tidying!

In [6]:
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sb

#### Lets import some data!

In [7]:
autompg = pd.read_table("https://raw.githubusercontent.com/WilliamJCole/IS352_Week_8/master/auto-mpg.data")
autompg

,18.0 8 307.0 130.0 3504. 12.0 70 1,chevrolet chevelle malibu
0,15.0 8 350.0 165.0 3693. 11...,buick skylark 320
1,18.0 8 318.0 150.0 3436. 11...,plymouth satellite
2,16.0 8 304.0 150.0 3433. 12...,amc rebel sst
3,17.0 8 302.0 140.0 3449. 10...,ford torino
4,15.0 8 429.0 198.0 4341. 10...,ford galaxie 500
5,14.0 8 454.0 220.0 4354. 9...,chevrolet impala
6,14.0 8 440.0 215.0 4312. 8...,plymouth fury iii
7,14.0 8 455.0 225.0 4425. 10...,pontiac catalina
8,15.0 8 390.0 190.0 3850. 8...,amc ambassador dpl
9,15.0 8 383.0 170.0 3563. 10...,dodge challenger se
10,14.0 8 340.0 160.0 3609. 8...,plymouth 'cuda 340
11,15.0 8 400.0 150.0 3761. 9...,chevrolet monte carlo
12,14.0 8 455.0 225.0 3086. 10...,buick estate wagon (sw)
13,24.0 4 113.0 95.00 2372. 15...,toyota corona mark ii
14,22.0 6 198.0 95.00 2833. 15...,plymouth duster
15,18.0 6 199.0 97.00 2774. 15...,amc hornet
16,21.0 6 200.0 85.00 2587. 16...,ford maverick
17,27.0 4 97.00 88.00 2130. 14...,datsun pl510
18,26.0 4 97.00 46.00 1835. 20...,volkswagen 1131 deluxe sedan
19,25.0 4 110.0 87.00 2672. 17...,peugeot 504
20,24.0 4 107.0 90.00 2430. 14...,audi 100 ls
21,25.0 4 104.0 95.00 2375. 17...,saab 99e
22,26.0 4 121.0 113.0 2234. 12...,bmw 2002
23,21.0 6 199.0 90.00 2648. 15...,amc gremlin
24,10.0 8 360.0 215.0 4615. 14...,ford f250
25,10.0 8 307.0 200.0 4376. 15...,chevy c20
26,11.0 8 318.0 210.0 4382. 13...,dodge d200
27,9.0 8 304.0 193.0 4732. 18...,hi 1200d
28,27.0 4 97.00 88.00 2130. 14...,datsun pl510
29,28.0 4 140.0 90.00 2264. 15...,chevrolet vega 2300
...,...,...
367,27.0 4 112.0 88.00 2640. 18...,chevrolet cavalier wagon
368,34.0 4 112.0 88.00 2395. 18...,chevrolet cavalier 2-door
369,31.0 4 112.0 85.00 2575. 16...,pontiac j2000 se hatchback
370,29.0 4 135.0 84.00 2525. 16...,dodge aries se
371,27.0 4 151.0 90.00 2735. 18...,pontiac phoenix
372,24.0 4 140.0 92.00 2865. 16...,ford fairmont futura
373,23.0 4 151.0 ? 3035. 20...,amc concord dl
374,36.0 4 105.0 74.00 1980. 15...,volkswagen rabbit l
375,37.0 4 91.00 68.00 2025. 18...,mazda glc custom l
376,31.0 4 91.00 68.00 1970. 17...,mazda glc custom
377,38.0 4 105.0 63.00 2125. 14...,plymouth horizon miser
378,36.0 4 98.00 70.00 2125. 17...,mercury lynx l
379,36.0 4 120.0 88.00 2160. 14...,nissan stanza xe
380,36.0 4 107.0 75.00 2205. 14...,honda accord
381,34.0 4 108.0 70.00 2245 16...,toyota corolla
382,38.0 4 91.00 67.00 1965. 15...,honda civic
383,32.0 4 91.00 67.00 1965. 15...,honda civic (auto)
384,38.0 4 91.00 67.00 1995. 16...,datsun 310 gx
385,25.0 6 181.0 110.0 2945. 16...,buick century limited
386,38.0 6 262.0 85.00 3015. 17...,oldsmobile cutlass ciera (diesel)
387,26.0 4 156.0 92.00 2585. 14...,chrysler lebaron medallion
388,22.0 6 232.0 112.0 2835 14...,ford granada l
389,32.0 4 144.0 96.00 2665. 13...,toyota celica gt
390,36.0 4 135.0 84.00 2370. 13...,dodge charger 2.2
391,27.0 4 151.0 90.00 2950. 17...,chevrolet camaro
392,27.0 4 140.0 86.00 2790. 15...,ford mustang gl
393,44.0 4 97.00 52.00 2130. 24...,vw pickup
394,32.0 4 135.0 84.00 2295. 11...,dodge rampage
395,28.0 4 120.0 79.00 2625. 18...,ford ranger
396,31.0 4 119.0 82.00 2720. 19...,chevy s-10